.SubscribeContainer{
    display: flex;
 flex-direction: column;
 background-color: #FEF0F0;
 margin-top: 200px;
}
.text h1{
    margin-top: 50px;
    /* margin-left: 124px; */
    font-size: 32px;
    font-weight: 400;
    text-align: center;
}

.text p {
  color: black;
  font-size: 18px;
  font-weight: 400;
  margin-top: 30px;
  margin-left: 164px;
  text-align: center;
  /* text-align: left; */
  width: 943px;
  height: 65px;
}
.Subscribeform {
  text-align: center;
  /* margin-top: 40px; */
}

.email {
  width: 786px;
  height: 50px;
  
}





.Subscribebtn {
  width: 120px;
  height: 40px;
  border-radius: 3px;
  margin-top: 36px;
  text-align: center;

  border: none;
  background-color: #fc8321;
  color: white;
  text-align: center;
  cursor: pointer;
  
}
